<div class="wrapper-result">
  <a href="/" src="home" target="_blank"><%= image_tag "logo.png", class:"logo" %></a>
  <div class="content result">
    <h1>Search result for "<%= @key_word %>"</h1>
    <h2><%= @response %></h2>
    <% if @beers != [] %>
    <%= render "components/beers" %>
    <% else %>
    <%= render "components/search_bar" %>
    <% end %>
  </div>
</div>
