<div class="wrapper-result">
  <a href="/" src="home" target="_blank"><%= image_tag "logo.png", class:"logo" %></a>
  <div class="content result">
    <h1>Search result for "<%= @key_word %>"</h1>
    <h2><%= @response %></h2>
    <%= render "components/search_bar" %>
    <% if @beers != [] %>
      <%= render "components/beers" %>
      <% if @offset == 0 %>
          <%= link_to "Next page", beers_path(:offset => @offset + 11, :search => { :keyword => @key_word }), class:"button btn-page" %>
      <% else %>
      <div class="btns-page">
        <%= link_to "Back", beers_path(:offset => (@offset - 11), :search => { :keyword => @key_word }), class:"button btn-page" %>
        <%= link_to "Next", beers_path(:offset => (@offset + 11), :search => { :keyword => @key_word }), class:"button btn-page" %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
